:root {
  --base: #ffffff;
  --spacing: 10px;
  --blur: 10px;
}

body {
  width: 100%;
  background: #e0e0e0;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

label {
  padding-right: 0.5em;
}

.controls {
  margin: 2em;
}